<!DOCTYPE html>
<html>
  <head>
    <title>jovian carrers</title>
    <style>
      h1 {
        font-size:40px;
        font-family:Roboto;
        font-weight:normal;
        color:rgb(100,0,0)
        }
       #banner {
         width:100%;
         height:160px;
         object-fit:cover;
        }
      h2 {
        font-size:30px;
        font-family:Roboto;
        font-weight:normal;
        color:rgb(100,22,220)
        }
      p {
        font-size:20px;
        font-family:Roboto;
        font-weight:normal;
        color:rgb(100,0s,220)
        }
    </style>
  </head>
  <body>
    <h1><center>Jovian carrers</center</h1>
    <img id="banner" src="https://jovian-carrers-website--bhargav4036.repl.co/static/www.jpg">
    <h2>Jovian carrers</h2>
    <p>A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long.</p>
    <h2>job openings</h2>
  <h2>show jobs</h2>
    <button>contact us</button>
  </body>
</html>
